force-app/main/default/flows/Calculate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate</name>
        <label>Calculate</label>
        <locationX>175</locationX>
        <locationY>368</locationY>
        <actionName>calculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <inputParameters>
            <name>intA</name>
            <value>
                <elementReference>Number_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intB</name>
            <value>
                <elementReference>Number_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <elementReference>Operation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <choices>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>Divide</name>
        <choiceText>Divide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Divide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multiply</name>
        <choiceText>Multiply</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiply</stringValue>
        </value>
    </choices>
    <choices>
        <name>Subtract</name>
        <choiceText>Subtract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subtract</stringValue>
        </value>
    </choices>
    <interviewLabel>Calculate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Calculator</name>
        <label>Calculator</label>
        <locationX>175</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculate</targetReference>
        </connector>
        <fields>
            <name>Number_1</name>
            <dataType>Number</dataType>
            <fieldText>Number 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_2</name>
            <dataType>Number</dataType>
            <fieldText>Number 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Operation</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Subtract</choiceReferences>
            <choiceReferences>Divide</choiceReferences>
            <choiceReferences>Multiply</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>174</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Calculate_Output</name>
            <fieldText>&lt;p&gt;Number 1: {!Number_1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Number 2: {!Number_2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Operation: {!Operation}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Result: {!Calculate.result}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Error occurred: {!Calculate.error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Calculator</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
